body {
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-family: Verdana, Geneva, sans-serif;
  font-size: 25px;
  letter-spacing: -2.4px;
  word-spacing: 3px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: uppercase; */

  /* font-family: monaco, Consolas, "Lucida Console", monospace; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 30px;  */


  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; 
  /* font-style: normal;  */
  /* font-variant: normal;  */
  /* font-weight: 400;  */
  /* line-height: 30px; */
}

main {
  margin-left: 1em;
  margin-right: 1em;
}

#audio {
  margin-bottom: 10%;
}

.volume-control-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0px;
  width: 100%;
}

.audio-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto;
  border: 1px solid #d6d5d5;
  -webkit-box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 350px;
}

.audio-file:hover {
  background: white;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  color: black;
}

.audio-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.audio-controls button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .5em;
  width: 20%;
  border-radius: 5px;
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
}

.audio-controls button:hover {
  cursor: pointer;
  background: black;
  color: white;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  /* transform: scale(1.1); */
}

.playing {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

/* LOOP TOGGLE */
.switch {
  position: relative;
  display: inline-block;
}

.switch-input {
  display: none;
}

.switch-label {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}

.switch-label::before {
  width: 80%;
  height: 80%;
  background-color: black;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.switch-label::after {
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}

.switch-input:checked + .switch-label::before {
  background-color: gray;
}

.switch-input:checked + .switch-label::after {
  left: 19px;
}

/* SLEEP TIMER DROPDOWN */
.top-nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

#sleep-timer-cont {
  padding-left: 10px;
}

.fa-clock {
  font-size: 20px;
  cursor: pointer;
  margin-left: 30px;
}

.fa-clock:hover, .fa-clock:focus {
  color: #999999;
}

.sleep-dd-cont {
  position: relative;
  display: inline-block;
}

.dd-content {
  display: none;
  position: absolute;
  left: 125px;
  background-color: #f1f1f1;
  min-width: 150px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
  border-radius: 5px;
}

.dd-content .option {
  color: black;
  padding: 12px 45px;
  display: block;
  border-bottom: 1px solid #a8a7a7;
}

.dd-content .option:last-child {
  border-bottom: none;
}

.dd-content .option:hover {
  background-color: #999999;
  color: white;
  cursor: pointer;
}

/* .show {
  display: block;
} */

/* ABOUT DROPDOWN */
.fa-comment-dots{
  font-size: 20px;
  cursor: pointer;
}

.fa-comment-dots:hover, .fa-comment-dots:focus {
  color: #999999;
}

.about-dd-cont {
  position: relative;
  display: inline-block;
}

.about-dd-content {
  display: none;
  position: absolute;
  left: 20px;
  background-color: #f1f1f1;
  min-width: 150px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.about-dd-content .about-opt {
  color: black;
  padding: 12px 45px;
  display: block;
  border-bottom: 1px solid #a8a7a7;
}

.about-dd-content .about-opt:last-child {
  border-bottom: none;
}

.about-dd-content .about-opt:hover {
  background-color: #999999;
  color: white;
  cursor: pointer;
}

.show {
  display: block;
}

/* .description {
  background: white;
  border-radius: 5px;
  width: 50%;
  left: 25%;
  position: absolute;
  padding: 15px;
  align-items: center;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);} */


.modal-cont {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0,0,0,0.5);
}

.modal {
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width: 40%;
  height: 25%;
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 
    0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: open-animation;
  animation-duration: .5s;
}

.about-content {
  margin: auto 25%;
  font-size: 1.2em;
}

.description-content {
  margin: auto 10%;
}

.about-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.about-links li {
  display: block;
  list-style-type: none;
  margin: 20px auto;
}

.about-links a {
  text-decoration: none;
  color: inherit;
}

.about-links a:hover {
  color: #999999;
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes open-animation{
  0%{
    height: 0;
    top: 50%;
    /* width: 0; */
    opacity: 1;
  }
  99%{
    height: 25%;
    /* width: 50%; */
    opacity: 1;
  }
  100%{
    height: 25%;
    top: 0;
    /* width: 50%; */
    opacity: 0;
  }  
}

/* BACKGROUND DROPDOWN */
.background-cont-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.fa-images {
  font-size: 20px;
  margin-left: 30px;
  cursor: pointer;
}

.fa-images:hover, .fa-images:focus {
  color: #999999;
}

.background-dd-cont {
  position: relative;
  display: inline-block;
}

.bkgd-dd-content {
  display: none;
  position: absolute;
  left: 75px;
  background-color: #f1f1f1;
  min-width: 150px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
  border-radius: 5px;
}

.bkgd-dd-content .background-opt {
  color: black;
  padding: 12px 45px;
  display: block;
  border-bottom: 1px solid #a8a7a7;
}

.bkgd-dd-content .background-opt:last-child {
  border-bottom: none;
}

.bkgd-dd-content .background-opt:hover {
  background-color: #999999;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

/* BACKGROUND OPTIONS */
.dark {
  background: #121212;
  color: #E2E2E2;
}

.dark .audio-file {
  background: #282828;
  border: 1px solid #282828;
  -webkit-box-shadow: 0px 19px 38px #0A0A0A;
  box-shadow: 0px 19px 38px #0A0A0A;
  border-radius: 5px;
  width: 350px;
}

.dark .audio-file:hover {
  color: #E2E2E2;
}

.dark .audio-controls button {
  background: #E2E2E2;
  -webkit-box-shadow: 0px 19px 38px #0A0A0A;
  box-shadow: 0px 19px 38px #0A0A0A;
}

.dark .audio-controls button:hover {
  background: #121212;
  color: #E2E2E2;
  border: 1px solid #121212;
}

.dark .switch-label::before {
  background-color: #E2E2E2;
}

.dark .switch-input:checked + .switch-label::before {
  background-color: #121212;
}

.dark .dd-content .option {
  background-color: #282828;
  color: #E2E2E2;
}

.dark .dd-content .option:hover {
  color: #E2E2E2;
  opacity: .8;
}

.dark .bkgd-dd-content .background-opt {
  background-color: #282828;
  color: #E2E2E2;
}

.dark .bkgd-dd-content .background-opt:hover {
  background-color: #282828;
  opacity: .8;
}

.white {
  background: white;
  color: black;
}

.fireplace {
  background-image: url("../dist/images/fireplace.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.fireplace .audio-file {
  background: #461809;
  border: 1px solid #461809;
  -webkit-box-shadow: 0px 19px 38px #0A0A0A;
  box-shadow: 0px 19px 38px #0A0A0A;
  border-radius: 5px;
  width: 350px;
}

.fireplace .audio-file:hover {
  color: #E2E2E2;
}

.fireplace .audio-controls button {
  background: #E2E2E2;
  -webkit-box-shadow: 0px 19px 38px #0A0A0A;
  box-shadow: 0px 19px 38px #0A0A0A;
}

.fireplace .audio-controls button:hover {
  background: #121212;
  color: #E2E2E2;
  border: 1px solid #121212;
}

.fireplace .switch-label::before {
  background-color: #E2E2E2;
}

.fireplace .dd-content .option {
  background-color: #461809;
  color: #E2E2E2;
}

.fireplace .dd-content .option:hover {
  color: #E2E2E2;
  opacity: .8;
}

.fireplace .bkgd-dd-content .background-opt {
  background-color: #461809;
  color: #E2E2E2;
}

.fireplace .bkgd-dd-content .background-opt:hover {
  background-color: #461809;
  opacity: .8;
}

.rain {
  background-image: url("../dist/images/rain-drops.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.rain .audio-file {
  background: #1D1D1D;
  border: 1px solid #1D1D1D;
  -webkit-box-shadow: 0px 19px 38px #0A0A0A;
  box-shadow: 0px 19px 38px #0A0A0A;
  border-radius: 5px;
  width: 350px;
}

.rain .audio-file:hover {
  color: #E2E2E2;
}

.rain .audio-controls button {
  background: #E2E2E2;
  -webkit-box-shadow: 0px 19px 38px #0A0A0A;
  box-shadow: 0px 19px 38px #0A0A0A;
}

.rain .audio-controls button:hover {
  background: #121212;
  color: #E2E2E2;
  border: 1px solid #121212;
}

.rain .switch-label::before {
  background-color: #E2E2E2;
}

.rain .dd-content .option {
  background-color: #1D1D1D;
  color: #E2E2E2;
}

.rain .dd-content .option:hover {
  color: #E2E2E2;
  opacity: .8;
}

.rain .bkgd-dd-content .background-opt {
  background-color: #1D1D1D;
  color: #E2E2E2;
}

.rain .bkgd-dd-content .background-opt:hover {
  background-color: #1D1D1D;
  opacity: .8;
}

.winter-street {
  background-image: url("../dist/images/street-winter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.black {
  background: #121212;
}

.black .audio-file {
  display: none;
}

.black .top-nav{
  color: #E2E2E2;
}




/*# sourceMappingURL=styles.css.map */